# Python
__pycache__/
*.pyc
*.npy
outdir_sunspot
errordir_sunspot

#logs
in_context_benchmarks/llm_benchmarks/logs
in_context_benchmarks/llm_benchmarks/run_scripts/outdir_sunspot
in_context_benchmarks/llm_benchmarks/run_scripts/outdir_sunspot/logs
in_context_benchmarks/llm_benchmarks/run_scripts/outdir_sunspot/logs/results
in_context_benchmarks/llm_benchmarks/run_scripts/errordir_sunspot
in_context_benchmarks/llm_benchmarks/run_scripts/outdir/logs
in_context_benchmarks/llm_benchmarks/run_scripts/outdir/logs/results
in_context_benchmarks/llm_benchmarks/run_scripts/errordir
in_context_benchmarks/llm_benchmarks/run_scripts/outdir
in_context_benchmarks/llm_benchmarks/timer_scripts
